.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.page-list {
  margin-top: 16px;
  list-style: none;
}

.page-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  margin-top: 8px;
}

.dialog__form-buttons {
  justify-content: flex-start;
  padding: 0 24px 24px;
}

.editor {
  margin-top: 16px;
}